.champion-list{
    max-height: 200px;
    overflow-y: auto;
    padding-left: 0;
    align-items: left;
    justify-content: left;
    width: 200px;
    position: absolute;
}

.champion-list-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 200px;
}

.champion-name-input{
    width: 185px;
    margin-top: -20px;
    height: 25px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

.champion-list-item{
    text-align: left;
    padding-left: 0;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 3px;
    padding-bottom: 3px;
}

.champion-list-item:hover{
    background-color: lightgrey;
}