.champion-list{
    max-height: 200px;
    overflow-y: auto;
    padding-left: 0;
    align-items: left;
    justify-content: left;
    width: 200px;
    position: absolute;
    margin-top: 40px;
}

.champion-list-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 190px;
    padding-right: 25px;
}

.champion-name-input{
    width: 185px;
    height: 25px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

.champion-list-item{
    text-align: left;
    padding-left: 0;
}

.champion-list-item:hover{
    background-color: lightgrey;
}

.champion-list-button{
    display: block;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    text-align: left;
    padding: 0;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

.champion-name-highlight{
    background: orange;
}